@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  max-height: 20px;
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, #111111 0%, #999999 100%);
  color: white;
}

.inner-header {
  height: 3px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

table {
  width: 100% !important;
  table-layout: fixed;
  word-break: break-word;
}

.waves {
  position: relative;
  width: 100%;
  height: 5px;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.output {
  margin: auto;
  height: 10px;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 20px;
    min-height: 10px;
  }

  .content {
    height: 10vh;
  }

  h1 {
    font-size: 24px;
  }
}


/* ESTA PARTE ES DEL ICONO DE WHATSAPP  desde qui hasta el final*/

.floating-wpp {
  position: fixed;
  bottom: 36px;
  left: 15px;
  font-size: 14px;
  transition: bottom .2s
}

.floating-wpp .floating-wpp-button {
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
  transition: box-shadow .2s;
  cursor: pointer;
  overflow: hidden
}

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%
}

.floating-wpp:hover {
  bottom: 17px
}

.floating-wpp:hover .floating-wpp-button {
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4)
}

.floating-wpp .floating-wpp-popup {
  border-radius: 6px;
  background-color: #e5ddd5;
  position: absolute;
  overflow: hidden;
  padding: 0;
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
  width: 0;
  height: 0;
  bottom: 0;
  opacity: 0;
  transition: bottom .1s ease-out, opacity .2s ease-out;
  transform-origin: bottom
}

.floating-wpp .floating-wpp-popup.active {
  padding: 0 12px 12px 12px;
  width: 260px;
  height: auto;
  bottom: 82px;
  opacity: 1
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
  background-color: white;
  padding: 8px;
  border-radius: 0 5px 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity .2s
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
  opacity: 1;
  transition-delay: .2s
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
  text-align: right;
  color: white;
  margin: 0 -15px 10px -15px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer
}

.floating-wpp .floating-wpp-input-message {
  background-color: white;
  margin: 10px -15px -15px -15px;
  padding: 0 15px;
  display: flex;
  align-items: center
}

.floating-wpp .floating-wpp-input-message textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  resize: none
}

.floating-wpp .floating-wpp-btn-send {
  margin-left: 12px;
  font-size: 0;
  cursor: pointer
}

.floating-wpp-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 0 10px 10px
}

.floating-wpp-avatar-info {
  color: white;
  margin: 10px 80px 0 10px;
  text-align: left
}

.floating-wpp-avatar-name {
  font-weight: bold;
  font-size: 16px
}

/* ESTA PARTE ES SOLO ARA EL MOVIMIENTO DEL ICONO DE WHATSAPP */
a {
  text-decoration: none;
  color: #ecf0f1
}

.acerca_img {
  display: flex;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: jittery 3s infinite;
  cursor: pointer;
  position: fixed;
  transition: .2s ease-in-out;
  margin: 2rem
}

.acerca_img:hover {
  animation: heartbeat .2s infinite
}

.acerca_img:nth-of-type(1) {}

.acerca_img:nth-of-type(2) {}

input[type=checkbox]:checked~.c-information p {
  color: #000
}

input[type=checkbox]:checked~.c-information small {
  color: #5e17eb
}

@keyframes jittery {

  5%,
  50% {
    transform: scale(1)
  }

  10% {
    transform: scale(.9)
  }

  15% {
    transform: scale(1.15)
  }

  20% {
    transform: scale(1.15) rotate(-5deg)
  }

  25% {
    transform: scale(1.15) rotate(5deg)
  }

  30% {
    transform: scale(1.15) rotate(-3deg)
  }

  35% {
    transform: scale(1.15) rotate(2deg)
  }

  40% {
    transform: scale(1.15) rotate(0)
  }
}