{% extends 'core/base.html' %}
{% block content %}
{% block title %} Category | {{ category.title }} | <a href="{% url 'frontpage' %}" class="span">Volver</a> | {% endblock %}
<section class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for post in posts %}            
            <div class="col-md-4">
                <div class="card shadow-sm mb-3 rounded">
                    <a href="{% url 'post_detail' post.category.slug post.slug %}">
                        {% if post.image %}
                        <figure class="">
                            <img class="bd-placeholder-img card-img-top" alt="Card media cap"
                                style="width:420px; height:315px" src="{{ post.image.url }}" alt="{{post.title}}"
                                width="20%">
                        </figure>
                        {% else %}

                        {% endif %}
                        {% if post.clip %}
                        <div class="video">
                            <video controls width="720" height="480" alt="Card media cap">
                                <source src="{{ post.clip.url }}" type="video/webm">
                                <a href="{{ post.clip.url }}">Ver/Descargar Video</a>
                            </video>
                        </div>
                        {% else %}

                        {% endif %}

                        <div class="card-body">
                            <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                            <p class='card-text'>{{ post.intro }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p>
                                    <a class="btn btn-clipboard btn-outline-success btn-sm" href="{{ post.get_absolute_url }}" role="button"><i class="fa-regular fa-eye"></i><b>Ver</b></a>
                                        {% if request.user.is_staff %}
                                        <a class="btn btn-clipboard btn-outline-info btn-sm" href="{% url 'update' post.slug %}" role="button"><i class="fa-solid fa-pencil"></i><b>Editar</b></a>
                                        <a class="btn btn-clipboard btn-outline-danger btn-sm" href="{% url 'delete' post.slug %}" role="button"><i class="fa-regular fa-trash-can"></i><b>Borrar</b></a>
                                        
                                        {% endif %}
                                    </p>
                                </div>
                                <small class="text-muted">
                                    <p> <a class="">Creado {{ post.created_at|date:"d M Y" }}</a></p>
                                </small>
                            </div>
                            <p><small>Category: <a class="btn btn-clipboard btn-outline-dark btn-sm" href="{% url 'category_detail' post.category.slug %}" role="button"><i class="fa-solid fa-filter"></i> <b>{{ post.category }}</b></a></small></p>
                        </div>
                    </a>
                </div>
            </div>
            {% empty %}
            <div class="content">
                <p>No hay publicaciones en esta categoría...</p>
            </div>
            {% endfor %} 
        </div>        
    </div>            
</section>
{% endblock %}
{% comment %} <!-- <a href="{% url 'post_detail' post.category.slug post.slug %}">
                                        <h2 class="subtitle is-4">hace {{ post.created_at|timesince }}</h2>
                                        <h1 class="title">{{ post.title }}</h1>
                                        <p>{{ post.intro }}</p>
                                    </a> --> {% endcomment %}