{% extends "core/base.html" %}
{% if request.user.is_staff %}   
{% include "blog/includes/post_menu.html" %}
{% endif %}
{% load static %}
{% block content %}
{% block title %} | Borrar publicación | <a href="{% url 'frontpage' %}" class="span">Volver</a> | {% endblock title %}
<main role="main">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto">
                <div>
                    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <p>¿Estás seguro de que quieres borrar "<b>{{ object }}</b>"?</p>
                        <input type="submit" class="btn btn-primary btn-block" value="Sí, borrar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}