<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="BlogifyAR, Tech, Python">
        <meta name="description" content="Your meta description goes here">
        <title>
            {% block title %}
                BlogifyAR
            {% endblock title %}
            BlogifyAR
        </title>
        {% load static %}
        <link rel="stylesheet"
              href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css"
              integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css"
              integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css"
              integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/regular.min.css"
              integrity="sha512-k2UAKyvfA7Xd/6FrOv5SG4Qr9h4p2oaeshXF99WO3zIpCsgTJ3YZELDK0gHdlJE5ls+Mbd5HL50b458z3meB/Q=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.6.2.min.js"
                integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
                crossorigin="anonymous"></script>
        <script src="{% static 'main.js' %}" type="text/javascript"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" href="{% static 'core/favicon.ico' %}" type="image/x-icon">
        <style>
            body {
                background-color: #bfbfbf;
            }
        </style>
    </head>
    <body class="d-flex flex-column">
        <main class="min-vh-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'frontpage' %}">
                        <img src="{% static 'core/Miproyecto.png' %}"
                             alt="logo"
                             width="100"
                             height="100"
                             class="d-inline-block align-text-center">
                        <strong class="text-light">BlogifyAR</strong></a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#nep"
                            aria-controls="nep"
                            aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nep">
                        <div class="navbar-end">
                            <div class="navbar-nav mr-auto">
                                <form method="get" action="{% url 'search' %}">
                                    <div class="control has-icons-left">
                                        <input class="input is-rounded"
                                               name="query"
                                               type="text"
                                               placeholder="Buscar publicación">
                                        <span class="icon is-left">
                                            <i class="fa-solid fa-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="navbar-item is-active is-size-5 has-text-weight-semibold text-light rounded"
                                       href="{% url 'frontpage' %}">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="navbar-item is-active is-size-5 has-text-weight-semibold text-light rounded"
                                       href="{% url 'about' %}">Acerca de</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav mr-auto text-end">
                                {% if not request.user.is_authenticated %}
                                    <li class="nav-item  mr-3">
                                        <a class="navbar-item is-size-5 has-text-weight-semibold btn btn-outline-light text-light me-2"
                                           href="{% url 'login' %}"
                                           role="button"><i class="fa-solid fa-right-to-bracket"></i>Acceder</a>
                                    </li>
                                    <li class="nav-item">
                                        <a role='button'
                                           class="navbar-item is-size-5 has-text-weight-semibold btn btn-outline-light text-light me-2"
                                           href="{% url 'signup' %}"><i class="fa-solid fa-user-plus"></i>Registro</a>
                                    </li>
                                {% else %}
                                    {% if request.user.is_superuser %}
                                        <li class="nav-item">
                                            <a class="navbar-item is-active is-size-5 has-text-weight-semibold text-light rounded"
                                               href="{% url 'profiles:list' %}">Perfiles</a>
                                        </li>
                                    {% else %}
                                    {% endif %}
                                    <li class="nav-item">
                                        <a class="navbar-item is-active is-size-5 has-text-weight-semibold text-light rounded"
                                           href="{% url 'profile' %}">Perfil</a>
                                    </li>
                                    <li class="nav-item">
                                        <p type="text" class="d-inline text-light">Bienvenido\a, {{ user.username }}.</p>
                                        <a type="text"
                                           href="{% url 'password_change' %}"
                                           class="d-inline text-light">Cambiar
                                        contraseña </a>
                                        <a role='button'
                                           class="btn btn-outline-light me-2 navbar-item is-size-5 has-text-weight-semibold text-light"
                                           href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Salir</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="header">
                    <div class="inner-header"></div>
                    <!--Waves Container-->
                    <div>
                        <div id="output"></div>
                        <svg class="waves"
                             xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 24 150 28"
                             preserveAspectRatio="none"
                             shape-rendering="auto">
                            <defs>
                            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                            </defs>
                            <g class="parallax">
                            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                            </g>
                        </svg>
                    </div>
                    <!--Waves end-->
                </div>
                {% if request.user.is_staff %}
                    {% include "blog/includes/post_menu.html" %}
                {% endif %}
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <footer class="footer bg-dark px-2 py-2 mt-3 mt-auto d-none d-md-block">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                        <div class="d-flex justify-content-center justify-content-sm-start">
                            <a href="#"><i class="fab fa-instagram fa-2x text-light mr-3"></i></a>
                            <a href="#"><i class="fab fa-facebook fa-2x text-light mr-3"></i></a>
                            <a href="#"><i class="fab fa-whatsapp fa-2x text-light"></i></a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 mb-3 mb-sm-0 text-center">
                        <span class="text-sm text-light mx-auto">
                            <h4>© 2022 BlogifyAR</h4>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 mb-3 mb-sm-0 text-right">
                        <span class="text-sm text-light align-self-center">
                            <h4>Follow us on Twitter</h4>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.2.min.js"
                integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/fontawesome.min.js"
                integrity="sha512-nKvEIGRKw2OQCR34yLfnWnvrOBxidLG9aK+vzsBxCZ/9ZxgcS4FrYcN+auWUTkCitTVZAt82InDKJ7x+QtKu6g=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
    </body>
</html>
